<div class="group_bannner_right">
  </div>
     <div class="container">
     <header class="group_bannner_left">
       <hgroup>
        <div class="col-lg-2">
        </div>
     
       <div class="col-lg-2">
       <%=image_tag "3.jpg",  :size => '600x300',:class => 'pic' %>
       </div>
      
     </hgroup>
   </header>
</div>

  