
<div class="group_bannner_right">
   </div>
   <div class="container">
   <header class="group_bannner_left">
   <hgroup>
   <div class="col-lg-2">
   </div>
   <div class="col-lg-2">
    <%=image_tag "xmas3.jpg", :size => '530x350', :class => 'pic' %>
      <!-- <div class="rotator" id = "middle">
          <div> <h5>“In the beginning God created the heaven and the earth“ <font color="blue"><i>— Genesis 1:1</i></font></h5></div>
          <div> <h5>“And God created great whales and every living creature that moveth, which the waters brought forth abundantly, after their kind“ <font color="yellow"><i>— Genesis 1:21a</i></font></h5></div>
          <div> <h5>“And every winged fowl after his kind, and God saw it was good“ <font color="green"><i>— Genesis 1:21b</i></font></h5></div>
      </div> -->
      </div>
   </hgroup>
   </header>
   </div>
   </div>

   <script>

  $(".rotator > div:gt(0)").hide();
  setInterval(function() {
    $('.rotator > div:first')
    .fadeOut(0)
    .next()
    .fadeIn(1000)
    .end()
    .appendTo('.rotator');
}, 3000);
</script>
