<%= render partial: "shared/navbar"%>
<div class="container" style='margin-left:350px'>
	<div class="col-lg-5">
	<%- model_class = Event -%>
	<div class="page-header">
	  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
	</div>
	<%= render :partial => 'form' %>
	</div>
</div>

<%= render partial: "shared/footer"%> 